:root
{
    --primary: rgb(126, 28, 28);
    --secondary: rgb(168, 87, 87);
    --tertiary: rgb(168, 85, 55);
}

body 
{
    background: linear-gradient(var(--primary), var(--secondary));
    color: #121212;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 12px;
    padding: 0;
}

#titulo
{
    background-image: url(https://i.blogs.es/f4a03e/arepas2/650_1200.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 4px;
    padding: 6px 0 424px 0;
    border-radius: 20px;
    background-position-y: center;
}

#titulo h1
{
    text-align: center;
    font-size: 50px;
}

#menu
{
    text-align: center;
    padding: 8px 0 8px 0;
}

#titulo a
{
    color: rgb(19, 18, 18);
    background: linear-gradient(var(--primary), var(--secondary));
    padding: 4px 12px;
    margin: 16px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px rgb(62, 30, 30);
}

#titulo a:hover
{
    color:antiquewhite;
}

#titulo p 
{
    text-align: center;
}

#descripcion
{
    background: linear-gradient(var(--primary), var(--secondary));
    border-radius: 20px;
    padding: 12px;
    margin: 14px 0 0 0;
    text-align: justify;
    border: solid 1px rgb(62, 30, 30);
}

footer
{
   
    background-color: var(--tertiary);
    border-radius: 20px;
    padding: 1px;
    margin: 14px 0 0 0;
    border: solid 1px rgb(62, 30, 30);
}

footer p
{
    text-align: center;
  
}

footer a
{
    text-decoration: none;
    color: rgb(139, 4, 65);
    margin-left: 10px;
}

a:hover
{
    color: aqua;
}

@media (max-width: 640px)
{
   #titulo
   {
    display: grid;
    background-size: 94% 50%;
    padding: 4px 0px 4px 0;
    margin: 30px 0 0 0;
    background-position-x: center;
    background-position-y: top;
   } 

   #titulo h1 
   {
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
   
   }

   footer 
   {
    margin: 18px 0px 0px 0px;
   }

   #titulo a
   {
    width: 70%;
   }

   #menu
   {
    display: grid;
    justify-content: space-around;
    
   }


}
