* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --write: rgb(249, 250, 250);
  --black: rgb(0, 0, 0);
  --redcoffe: rgb(62, 30, 30);
  --primary: rgb(30, 27, 39);
  --secondary: rgb(58, 58, 63);
  --tertiary: rgb(87, 84, 95);
  --fourth: rgb(112, 108, 122);
}

body {
  background: linear-gradient(var(--primary), var(--secondary));
  width: 90%;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 12px auto;
  opacity: ;
}

.titulo {
  background-image: url(https://i.blogs.es/f4a03e/arepas2/650_1200.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  min-height: 80vh;
  border-radius: 20px;
  border: solid 2px var(--redcoffe);
  margin: 10px auto;
  display: grid;
}

.overlay { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.8); /* Color negro con 50% de opacidad */ 
  border-radius: 18px;
}

.titulo 
.menu {
  position: relative;
  display: grid;
  align-content: space-evenly;
  justify-content: space-evenly;
  justify-items: center;
}

.titulo 
.menu h1 {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(var(--tertiary), var(--fourth));
  border: solid 2px var(--secondary);
  border-radius: 12px;
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  margin: 4px auto;
  padding: 8px;
}

.titulo 
.menu a {
  display: inline-block;
  text-align: center;
  width: 26%;
  color: var(--blackç);
  background: linear-gradient(var(--tertiary), var(--fourth));
  padding: 4px 12px;
  margin: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  border: solid 2px var(--redcoffe);
}

.titulo 
.menu a:hover {
  color: var(--write);
}

.titulo
.menu a:active {
  color: var(--redcoffe);
}

.descripcion {
  background: linear-gradient(var(--tertiary), var(--fourth));
  border-radius: 20px;
  padding: 8px;
  margin: 0 auto;
  text-align: justify;
  border: solid 1px var(--redcoffe);
}

.descripcion p {
  color: var(--black);
}

footer {

  background: linear-gradient(var(--tertiary), var(--fourth));
  border-radius: 20px;
  padding: 1px;
  margin: 14px 0 0 0;
  border: solid 1px var(--redcoffe);
}

footer p {
  text-align: center;
  color: var(--black);
}

footer a {
  text-decoration: none;
  color: var(--redcoffe);
  margin-left: 10px;
}

footer a:hover {
  color: var(--write);
}

footer a:active {
  color: var(--fourth);
}

@media (max-width: 620px) {
  .titulo {
    font-size: 1.6rem;
    background-position: center;
    background-size: cover;
  }

  .titulo
  .menu {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    margin: 0;
    padding: 0;
  }

  .titulo 
  .menu h1 {
    display: inline-block;
    width: 50%;
    padding: 10px;
    font-size: 2rem;
    border-radius: 20px;
    margin: 2px auto;
  }

  .titulo 
  .menu a {
    text-align: center;
    width: 30%;
  }

  footer {
    margin: 10px auto;
    padding: 10px;
  }

}

@media (min-width: 1024px) {
  body {
    width: 70%;
  }
}
